body{
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, orange, black, purple);
  color: white;
  padding: 20px;
  line-height: 1.5;
}

.box{
  max-width: 900px;
  margin: 0 auto;
  background: rgba(0,0,0,0.6);
  padding: 18px;
  border-radius: 12px;
  overflow: hidden;

  border: 2px solid;
  border-image: linear-gradient(to bottom, orange, purple) 1;

  box-shadow: 0 0 15px rgba(255,165,0,0.6),
              0 0 25px rgba(128,0,128,0.5);
}

a{
  color: #ffd36a;
}
a:hover{
  text-decoration: underline;
}

ul{
  list-style-type: square;
}

.profile-pic{
  display: block;
  margin: 0 auto 14px;
  width: 200px;
  height: auto;
  border-radius: 12px;
}

.photo-big{
  display: block;
  margin: 10px auto 0;
  width: 70%;
  height: auto;
  border-radius: 12px;
}

.click-name{
  cursor: pointer;
  user-select: none;
}
